<h1>Proben</h1>


<div *ngIf="!samples" class="alert alert-info">
  Lade daten...
</div>

<mat-radio-group>
  <div class="row">

    <div class="col">
      <button class="btn-primary btn" [routerLink]="['/samples/new']">Neu
      </button>
    </div>
    <div class="col">
      <mat-checkbox (change)="refresh($event.checked)"
                    [checked]="printedFilter">Gedruckt
      </mat-checkbox>
    </div>
    <div class="col">
      <mat-radio-button value="all">Alle</mat-radio-button>
    </div>
    <div class="col">
      <mat-radio-button value="2">2</mat-radio-button>
    </div>
    <div class="col">
      <mat-radio-button value="4">4</mat-radio-button>
    </div>
    <div class="col">
      <mat-radio-button value="GS">GS</mat-radio-button>
    </div>
  </div>
</mat-radio-group>

<div style="height: 1rem"></div>

<div class="alert alert-info" style="margin-top: 2rem"
     *ngIf="allData && allData.length == 0">
  <h3>Keine Proben gefunden</h3>
</div>

<kendo-grid [data]="gridView"
            [pageable]="true"
            [pageSize]="state.take!"
            [skip]="state.skip!"
            [sort]="state.sort!"
            [sortable]="true"
            [resizable]="true"
            [filter]="state.filter!"
            [columnMenu]="{ filter: true }"
            (dataStateChange)="dataChanged($event)"
>

  <kendo-grid-column field="sampleNumber" title="ID"
                     [width]="150"></kendo-grid-column>
  <kendo-grid-column field="mineral" title="Mineral"></kendo-grid-column>
  <kendo-grid-column field="size" title="Größe"
                     [width]="120"></kendo-grid-column>
  <kendo-grid-column field="timeStamp" title="Zeitpunkt"
                     media="(min-width: 768px)"
                     [filterable]="false"
                     [width]="100"></kendo-grid-column>
  <kendo-grid-column field="value" title="Wert"
                     media="(min-width: 1500px)"
                     [class]="{ 'text-right': true }"
                     [width]="120"></kendo-grid-column>
  <kendo-grid-column field="location" title="Fundort"
                     media="(min-width: 600px)"
  >

  </kendo-grid-column>
  <kendo-grid-column field="origin" title="Herkunft"
                     media="(min-width: 1500px)"
                     [width]="200"></kendo-grid-column>
  <kendo-grid-column field="annotation" title="Bemerkung"
                     media="(min-width: 1024px)"
                     [width]="200"></kendo-grid-column>
  <kendo-grid-column field="printed" title="Gedruckt" [width]="200"
                     media="(min-width: 1500px)"
                     [format]="'dd.MM.YYYY'"
  ></kendo-grid-column>
  <kendo-grid-column [width]="80">

    <ng-template kendoGridCellTemplate let-dataItem>
      <button class="btn btn-sm btn-primary"
              [routerLink]="['/samples/' + dataItem.id]"
      >Edit
      </button>
    </ng-template>

  </kendo-grid-column>

</kendo-grid>

<!--<app-sample-list *ngIf="samples.length > 0" [samples]="samples"-->
<!--                 [showEdit]="true"></app-sample-list>-->

