/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}

@import "@progress/kendo-theme-bootstrap/dist/all.css";


@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,700);
$headings-font-family:Poppins;

/*
$primary: red;
$secondary: blue;
$danger: yellow;
*/

@import '../node_modules/bootstrap/scss/bootstrap';



