<div style="padding: 3em">

  <input type="text" class="form-control" [(ngModel)]="numbering"
         [ngClass]="{'bg-danger': patternError}">
  <div class="btn btn-secondary"  (click)="testNumbers()">Nummern laufen lassen
  </div>

  <button class="btn btn-primary" (click)="savePattern()">Pattern speichern</button>

  <ul *ngIf="numbers">
    <li *ngFor="let number of numbers">{{number}}</li>
  </ul>

</div>

<ul>
  <li><button class="btn btn-info" (click)="createPdf()">Create PDF</button></li>
  <li><div class="btn btn-dark" (click)="testToast()">Toast testen</div>  </li>
  <li><a class="btn btn-danger" [routerLink]="['/samples/import']" >Import</a></li>
  <li><a class="btn btn-danger" (click)="testDbLoad()">Daten vom Server laden</a></li>
</ul>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
